@include desktop {
  #get-theme-block {
    .container-xl {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .get-theme-block {
        &-text {
          padding: 30px 0 0;
        }

        &-buttons {
          padding: 30px 0;
        }
      }
    }
  }
}

@include tablet {
  #header {
    .header-row {
      .menu {
        .navbar {
          &-toggler {
            flex: 100%;
            text-align: right;
          }
        }
      }
    }

    .intro {
      &-left {
        margin-top: 0;

        .buttons {
          margin: 35px 0;
        }
      }

      &-right {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }

  #details,
  #details-1 {
    padding: 20px 0;
  }

  #details-1 {
    img {
      margin-top: 35%;
    }
  }

  #details-1 {
    h3 {
      margin-top: 50px;
    }

    img {
      margin-top: 25%;
    }
  }

  #prices-list {
    .prices-list-pricelist {
      .col-sm-6 {
        margin-bottom: 25px;
      }
    }
  }

  #contact {
    .contact-form {
      padding: 58px 58px 41px;
    }
  }

  .map {
    margin-top: 15px;
  }
}

@include smallTablet {
  @include phone {
    #header {
      .header-row {
        .logo-section {
          position: absolute;
        }

        .menu {
          float: none;

          .navbar {
            .menu-list {
              flex-wrap: wrap;
              justify-content: center;

              .menu-list-item {
                display: block;
                flex: 100%;
                text-align: center;

                a {
                  padding: 0;
                }

                &:first-child {
                  a {
                    &:after {
                      background: none;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .intro-right {
        display: none;
      }
    }

    #features {
      .features {
        &-title {
          width: 100%;
        }

        &-elements {
          margin-top: 53px;

          &-item {
            margin-top: 20px;
          }
        }
      }
    }

    #details {
      .details-left {
        img {
          margin: 0;
        }
      }
    }
    #details-1 {
      h3 {
        margin-top: 10px;
      }

      img {
        margin: 0;
      }
    }

    #get-theme-block {
      .container-xl {
        .get-theme-block-text {
          flex-wrap: wrap;
          text-align: center;

          h2 {
            flex: 100%;
            margin-left: 0;
          }
        }
      }
    }

    #contact {
      .contact {
        &-contacts {
          margin: 40px 0 0;

          .justify-content-center {
            margin-top: 20px;
          }
        }
      }

      .contact {
        &-form {
          padding: 23px;

          &-fields {
            width: 100%;

            input {
              width: 100%;
            }
          }

          &-textarea-wrap {
            width: 100%;

            textarea {
              width: 100%;
              margin-top: 20px;
            }
          }

          &-button-wrap {
            margin: 20px 0 0;
            text-align: center;
            flex: 100%;
          }
        }
      }
    }
  }
}
