#details {
  padding-top: 67px;
  padding-bottom: 19px;

  .details {
    &-left {
      padding: 0 35px;
    }

    &-right {
      margin-top: 50px;

      h2 {
        letter-spacing: 0;
        position: relative;

        &::after {
          @extend %underline;

          margin: 25px 0 0;
        }
      }

      h3 {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 48px;
        margin: 0;
      }

      p {
        margin-top: 25px;
        text-align: left;
      }

      &-items {
        margin-top: 24px;

        .details-right-item {
          display: flex;
          margin: 0;

          &-img-wrap {
            width: 20px;
            height: 20px;
            margin-top: 10px;
            text-align: left;

            img {
              vertical-align: top;
            }
          }

          p {
            margin: 5px;
            color: #1a1a1a;
          }
        }
      }
    }
  }

  &-1 {
    background-color: #f2f2f2;
    padding-bottom: 19px;
    padding-top: 31px;

    h3 {
      margin-top: 96px;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 48px;
    }

    h2 {
      margin-top: 11px;
      position: relative;

      &::after {
        @extend %underline;

        margin: 25px 0 0;
      }
    }

    p {
      margin-top: 16px;
    }
  }
}
