extends ../layouts/layout

block footer
    footer#footer
        .footer-icons
            a(href='#')
                i.fa.fa-behance
            a(href='#')
                i.fa.fa-dribbble
            a(href='#')
                i.fa.fa-twitter
            a(href='#')
                i.fa.fa-facebook-f
            a(href='#')
                i.fa.fa-linkedin
        .footer-copyright
            p copyright © 2014 lucid onepage theme
    script(async='' defer='' src='dist/js/cannon.js')
