extends ../layouts/layout

block header
    header#header
        .container-xl
            .row.header-row
                .col-xl-2.col-md-3.col-lg-2.logo-section
                    .logo
                        a(href='index.html')
                            h1.logo-left Lucid
                            p.logo-right OnePage Theme
                .col-xl-10.col-md-9.col-12.col-lg-10
                    .menu
                        nav.navbar.navbar-expand-md
                            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarToggler' aria-controls='navbarToggler' aria-expanded='false' aria-label='Toggle navigation')
                                svg(xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' role='img' focusable='false')
                                    title Menu
                                    path(stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22')
                            #navbarToggler.collapse.navbar-collapse
                                ul.menu-list
                                    li.menu-list-item.is-active
                                        a(href='index.html') Home
                                    li.menu-list-item
                                        a(href='#features') Features
                                    li.menu-list-item
                                        a(href='#details') About
                                    li.menu-list-item
                                        a(href='#prices-comments') Testimonials
                                    li.menu-list-item
                                        a(href='#prices-list') Pricing
                                    li.menu-list-item
                                        a(href='#contact') Contact
            .row
                .intro-left.col-md-6
                    h3.h3.intro-h3 introducing lucid theme
                    h1.intro-h1 Carefully crafted and beautiful landing page.
                    p.p.intro-p
                        | Etiam ullamcorper et turpis eget hendrerit. Praesent varius risus
                        br
                        | mi, at
                        |                     elementum
                        |                     magna
                        |                     ultricies accumsan. Cras venenatis
                        br
                        | lacus sed dolor placerat tempus. Morbi blandit at neque ut
                        br
                        | imperdiet.
                    .buttons
                        button.buttons-blue(onclick="window.location='https://github.com/'") Download now
                        button.buttons-trans(onclick="window.location='#section-features'") View features
                .col-md-6.intro-right
                    img(src='assets/images/header_devices.png' alt='Mobile Devices')
