@font-face {
  font-family: SourceSansProRegular;
  font-display: optional;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: SourceSansProSemiBold;
  font-display: optional;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: SourceSansProBold;
  font-display: optional;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: SourceSansProLight;
  font-display: optional;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: SourceSansProItalic;
  font-display: optional;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: QuicksandBold;
  font-display: optional;
  font-style: normal;
  font-weight: 700;
}
