// Fonts.
@font-face {
  font-family: SourceSansProRegular;
  src: url(/assets/fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: SourceSansProSemiBold;
  src: url(/assets/fonts/source-sans-pro/SourceSansPro-Semibold.otf);
}

@font-face {
  font-family: SourceSansProBold;
  src: url(/assets/fonts/source-sans-pro/SourceSansPro-Bold.otf);
}

@font-face {
  font-family: SourceSansProLight;
  src: url(/assets/fonts/source-sans-pro/SourceSansPro-Light.otf);
}

@font-face {
  font-family: SourceSansProItalic;
  src: url(/assets/fonts/source-sans-pro/SourceSansPro-It.otf);
}

@font-face {
  font-family: QuicksandBold;
  src: url(/assets/fonts/quicksand/Quicksand-Bold.otf);
}
