// Colors
$black: #000000;
$white: #ffffff;
$blue: #008ed6;
$dark_grey: #444348;

// Fonts
$sspregular: SourceSansProRegular;
$sspbold: SourceSansProBold;
$sspsemibold: SourceSansProSemiBold;
$ssplight: SourceSansProLight;
$sspitalic: SourceSansProItalic;
$quicksand: QuicksandBold;

// Variables for media breakpoints
$phone: 320px;
$smallTablet: 767px;
$tablet: 768px;
$desktop: 1024px;
