extends ../layouts/layout
block content
main
    block features
    block details
    block details-1
    block prices-comments
    block theme-block
    block prices-list
    block contact
    block map
