extends ../page/index

block contact
    section#contact
        .container-xl
            .contact-title
                h3.h3 Stay in touch
                h2.h2 Contact us
            .contact-contacts
                .row
                    .col-xl-4.col-sm-4.d-flex.justify-content-center
                        .contact-contacts-item
                            .contact-contacts-item-icon
                                img.contact-contacts-item-icon-img(src='assets/icons/phone.png' alt='Phone')
                            .contact-contacts-item-info
                                p.p Phone: (415) 124-5678 Fax: (412) 123-8290
                    .col-xl-4.col-sm-4.d-flex.justify-content-center
                        .contact-contacts-item
                            .contact-contacts-item-icon
                                img.contact-contacts-item-icon-img(src='assets/icons/pointer.png' alt='Phone')
                            .contact-contacts-item-info
                                p.p
                                    | 1001 Brickell Bay Dr.
                                    br
                                    | Suite 1900
                                    br
                                    | Miami, FL 33131
                    .col-xl-4.col-sm-4.d-flex.justify-content-center
                        .contact-contacts-item
                            .contact-contacts-item-icon
                                img.contact-contacts-item-icon-img(src='assets/icons/mail.png' alt='Phone')
                            .contact-contacts-item-info
                                p.p support@yourname.com
            form.contact-form
                .contact-form-fields
                    input#Name.contact-form-fields-field(type='text' name='Name' placeholder='Name *' required='')
                    input#Email.contact-form-fields-field(type='email' name='Email' placeholder='Email *' required='')
                    input#Subject.contact-form-fields-field(type='text' name='Subject' placeholder='Subject *' required='')
                .contact-form-textarea-wrap
                    textarea#Message.contact-form-textarea-wrap-textarea(name='Message' placeholder='Message *' required='')
                .contact-form-button-wrap
                    button.contact-form-button-wrap-button.buttons-blue Send message
