extends ../page/index

block details
    section#details
        .container-xl
            .row
                .details-left.col-md-6
                    img(src='assets/images/details_device.png' alt='Mobile Phones 2')
                .details-right.col-md-6
                    h3.h3 dip into the details
                    h2.h2 Beautiful on every device
                    p.p
                        | Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                        br
                        | Morbi accumsan
                        |                         ipsum
                        |                         velit. Nam
                        |                         nec
                        |                         tellus a odio tincidunt
                        br
                        | auctor a ornare odio. Sed non mauris vitae erat consequat
                        br
                        | auctor
                        |                         eu
                        |                         in elit.
                    .details-right-items
                        .details-right-item
                            .details-right-item-img-wrap
                                img(src='assets/icons/trophy.png' alt='Trophy')
                            p.p
                                | Awesome design
                        .details-right-item
                            .details-right-item-img-wrap
                                img(style='margin-left: 3px;' src='assets/icons/mouse.png' alt='Mouse')
                            p.p
                                | Fully responsive
                        .details-right-item
                            .details-right-item-img-wrap
                                img(style='margin-left: 3px;' src='assets/icons/energy.png' alt='Energy')
                            p.p
                                | Retina ready
                        .details-right-item
                            .details-right-item-img-wrap
                                img(src='assets/icons/speedometer.png' alt='Speedometer')
                            p.p
                                | Tons of features and easy to use
