extends ../page/index

block details-1
    section#details-1
        .container-xl
            .row
                .col-md-6.col-lg-5
                    h3.h3 Dip into the details
                    h2.h2 Super easy to customize
                    p.p
                        | Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum
                        | velit.
                        | Nam nec
                        | tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in
                        | elit.
                        | Class
                        | aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                .col-md-6.col-lg-7
                    img(src='assets/images/details_iphone.png' alt='Iphone 5')
