extends ../page/index

block features
    section#features
        .container-xl
            .features-title
                h3.h3
                    | Product overview
                h2.h2
                    | List of amazing features
            .features-elements
                .row
                    .col-xl-3.col-sm-6.col-lg-3
                        .features-elements-item
                            .features-elements-item-img
                                img(src='assets/icons/monitor.png' alt='Monitor')
                            .features-elements-item-desc
                                h4 Responsive
                                p.p
                                    | Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia
                                    | consectetur.
                    .col-xl-3.col-sm-6.col-lg-3
                        .features-elements-item
                            .features-elements-item-img
                                img(src='assets/icons/settings.png' alt='Monitor')
                            .features-elements-item-desc
                                h4 Customizable
                                p.p
                                    | Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia
                                    | consectetur.
                    .col-xl-3.col-sm-6.col-lg-3
                        .features-elements-item
                            .features-elements-item-img
                                img(src='assets/icons/like.png' alt='Monitor')
                            .features-elements-item-desc
                                h4 Lovely design
                                p.p
                                    | Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia
                                    | consectetur.
                    .col-xl-3.col-sm-6.col-lg-3
                        .features-elements-item
                            .features-elements-item-img
                                img(src='assets/icons/phone.png' alt='Monitor')
                            .features-elements-item-desc
                                h4 Mobile Friendly
                                p.p
                                    | Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia
                                    | consectetur.
