extends ../page/index

block prices-list
    section#prices-list
        .container-xl
            .prices-list-title
                h3.h3 Quality has its price
                h2.h2 Pricings & Plans
            .prices-list-pricelist
                .row
                    .col-xl-3.col-sm-6.col-lg-3.pricelist__item
                        .prices-list-pricelist-item-title
                            p Free
                        .prices-list-pricelist-item-price
                            .prices-list-pricelist-item-price-int
                                span.prices-list-pricelist-item-price-int-dollar $
                                span.prices-list-pricelist-item-price-int-amount 0
                            p.p
                                | /per month
                        .prices-list-pricelist-item-desc
                            p.p
                                | Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum
                                a(href='#') lacinia
                                |  consectetur.
                            button.buttons-trans Order Now
                    .col-xl-3.col-sm-6.col-lg-3.pricelist__item
                        .prices-list-pricelist-item-title
                            p Personal
                        .prices-list-pricelist-item-price
                            .prices-list-pricelist-item-price-int
                                span.prices-list-pricelist-item-price-int-dollar $
                                span.prices-list-pricelist-item-price-int-amount 25
                            p.p
                                | /per month
                        .prices-list-pricelist-item-desc
                            p.p
                                | Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum
                                a(href='#') lacinia
                                |  consectetur.
                            button.buttons-trans Order Now
                    .col-xl-3.col-sm-6.col-lg-3.pricelist__item
                        .prices-list-pricelist-item-title
                            p Business
                        .prices-list-pricelist-item-price
                            .prices-list-pricelist-item-price-int
                                span.prices-list-pricelist-item-price-int-dollar $
                                span.prices-list-pricelist-item-price-int-amount 50
                            p.p
                                | /per month
                        .prices-list-pricelist-item-desc
                            p.p
                                | Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum
                                a(href='#') lacinia
                                |  consectetur.
                            button.buttons-trans Order Now
                    .col-xl-3.col-sm-6.col-lg-3.pricelist__item
                        .prices-list-pricelist-item-title
                            p Ultimate
                        .prices-list-pricelist-item-price
                            .prices-list-pricelist-item-price-int
                                span.prices-list-pricelist-item-price-int-dollar $
                                span.prices-list-pricelist-item-price-int-amount 99
                            p.p
                                | /per month
                        .prices-list-pricelist-item-desc
                            p.p
                                | Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum
                                a(href='#') lacinia
                                |  consectetur.
                            button.buttons-trans Order Now
