extends ../page/index

block prices-comments
    section#prices-comments
        .container-xl
            .prices-title
                h3.h3 Quality has its price
                h2.h2 Pricings & Plans
            .slider
                .slider-item.slider-item-1(style='width: 600px;')
                    .slider-item-txt
                        p.slider-item-txt-p
                            | Once upon a time all the Rivers combined to protest against the
                            | action
                            | of the
                            | Sea in making their waters salt. “When we come to you,” said they to the Sea.
                    .slider-item-author
                        .slider-item-author-icon
                            img(src='assets/images/avatar.png' alt='slider-item 1-author icon')
                        .slider-item-author-info
                            p.slider-item-author-info-name John Doe
                            p.slider-item-author-info-spec CEO, the Rivers Company
                .slider-item.slider-item-2(style='width: 600px;')
                    .slider-item-txt
                        p.slider-item-txt-p
                            | A shoe is not only a design, but it's a part of your body language,
                            | the
                            | way you
                            | walk. The way you're going to move is quite dictated by your shoes.
                    .slider-item-author
                        .slider-item-author-icon
                            img(src='assets/images/Avatar.png' alt='slider-item 1-author icon')
                        .slider-item-author-info
                            p.slider-item-author-info-name Dean Winchester
                            p.slider-item-author-info-spec UX DESIGNER, GOOGLE INC.
                .slider-item.slider-item-3(style='width: 600px;')
                    .slider-item-txt
                        p.slider-item-txt-p
                            | Once upon a time all the Rivers combined to protest against the
                            | action
                            | of the
                            | Sea in making their waters salt. “When we come to you,” said they to the Sea.
                    .slider-item-author
                        .slider-item-author-icon
                            img(src='assets/images/avatar.png' alt='slider-item 1-author icon')
                        .slider-item-author-info
                            p.slider-item-author-info-name John Doe
                            p.slider-item-author-info-spec CEO, the Rivers Company
                .slider-item.slider-item-4(style='width: 600px;')
                    .slider-item-txt
                        p.slider-item-txt-p
                            | A shoe is not only a design, but it's a part of your body language,
                            | the
                            | way you
                            | walk. The way you're going to move is quite dictated by your shoes.
                    .slider-item-author
                        .slider-item-author-icon
                            img(src='assets/images/Avatar.png' alt='slider-item 1-author icon')
                        .slider-item-author-info
                            p.slider-item-author-info-name Dean Winchester
                            p.slider-item-author-info-spec UX DESIGNER, GOOGLE INC.
                .slider-item.slider-item-5(style='width: 600px;')
                    .slider-item-txt
                        p.slider-item-txt-p
                            | Once upon a time all the Rivers combined to protest against the
                            | action
                            | of the
                            | Sea in making their waters salt. “When we come to you,” said they to the Sea.
                    .slider-item-author
                        .slider-item-author-icon
                            img(src='assets/images/avatar.png' alt='slider-item 1-author icon')
                        .slider-item-author-info
                            p.slider-item-author-info-name John Doe
                            p.slider-item-author-info-spec CEO, the Rivers Company

