extends ../page/index

block theme-block
    section#get-theme-block
        .container-xl
            .get-theme-block-text
                h2.h2 Like what you see?
                h2.h2 Get this great theme now!
            .get-theme-block-buttons
                button.buttons-trans(onclick="window.location='#section-features'") View features
                button.buttons-blue(onclick="window.location='https://github.com/BODYA7979/lucid-template'")
                    | Download now
